<!doctype html>
<html>

<head>
    <title>Test</title>
    <meta charset='utf-8' />
</head>

<body>
    <noscript>Please enable javascript</noscript>
    <div id='content' style='display:none'>
            <h1>Welcome to test</h1>
            <p>Below enter the JSON POST parameters according to page context. Then click "Submit" and please wait for
                response.</p>
            <form method='post' action='<%= connectionPath %>'>
                <textarea style='width:800px; height:300px' id='jsonParameters'></textarea>
                <p><button id='submit'>Submit</button><button id='example'>Simple example</button><button id='clear'>Clear</button></p>
                <pre style='border:1px solid grey; display:none; width:800px; overflow:auto' id='response'>sdfgsdfgsdfg</pre>
            </form>
            <p>For more information about parameters read the <a href="<%= documentationPath %>">documentation</a></p>
    </div>

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript'>
        var dataExample = JSON.stringify({
            request: {
                url: 'http://www.doctipharma.fr/',
                method: 'get',
                headers: {
                    'user-agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.81 Safari/537.36'
                }
            }
        }, null, '  ');

        $(document).on('click', '#submit', function (event) {
            $('#response').text('Sending request. Please wait ...');
            $('#response').show();
            var jsonParameters = $('#jsonParameters').val();
            $.ajax({
                type: "POST",
                url: "<%= connectionPath %>",
                data: jsonParameters,
                success: function (data) {
                    $('#response').text(JSON.stringify(data, null, '  '));
                },
                error: function (xhr, status, error) {
                    $('#response').text(JSON.stringify(xhr.responseJSON, null, '  '));
                },
                dataType: "json",
                contentType: "application/json"
            });
            event.preventDefault();
        });

        $(document).on('click', '#example', function (event) {
            $('#jsonParameters').val(dataExample);
            event.preventDefault();
        });

        $(document).on('click', '#clear', function (event) {
            $('#jsonParameters').val('');
            event.preventDefault();
        });

        $('#content').show();
    </script>
</body>

</html>